# YouTube Settings
YOUTUBE_PLAYLIST_URL=https://www.youtube.com/playlist?list=PLxxxxxxxxxxxxxxxx
YOUTUBE_VIDEO_URL=
YOUTUBE_COOKIES=

# Google Drive Integration Credentials
GDRIVE_CLIENT_ID=
GDRIVE_CLIENT_SECRET=
GDRIVE_REFRESH_TOKEN=
GDRIVE_FOLDER_ID=

# Sync Automation Options
UPDATE_EXISTING=true
FORCE_QUALITY_LIMIT=2160
PORT=3000
