# ابزار اصلی دانلود ویدیو از یوتیوب به همراه پیش‌نیازهای استاندارد (مانند موتور جاوااسکریپت و وب‌سوکت)
yt-dlp[default]

# کتابخانه‌های رسمی گوگل برای اتصال، احراز هویت و آپلود فایل در گوگل درایو
google-api-python-client
google-auth-httplib2
google-auth-oauthlib

# هوش مصنوعی برای استخراج زمان‌بندی دقیق صدا و همگام‌سازی زیرنویس با ویدیو
faster-whisper

# مترجم هوشمند برای ترجمه خودکار خطوط زیرنویس به فارسی روان
deep-translator
